#测试核心
pytest>=8.0.0
pytest-html>=4.1.0
outputdir = "results"
report = "report.html"
log = "log.html"


#AI/RAG
openai>=1.0.0
langchain>=0.2.0
chromadb>=0.4.0
sentence-transformers>=2.7.0


#工具
pyyaml>=6.0.0
python-dotenv>=1.0.0

